table {
  /*width:50%;
  border:1px black solid;*/
}

th {
  text-align: left
}

table img {
  height: 75px
}

.fail {color: red}
.erreur {color: orange}
.echec {color: pink}
.sconfitta {color: brown}

.best {
  font-size: 1.2em;
  color: orange
}

footer nav {
  font-size: .75em;
}
